extends layout

block content
  .content
    .map
      #map
        p Loading Map...
    .contact-wrapper
      h2 Welcome to visit our factory and warehouse or&nbsp;
        a.query__btn= TRANSLATION.SEND_EMAIL
      .contact__us
        .contact__title
          p.contact__addr 13321 Garden Grove Blvd, #N
          p.contact__addr Garden Grove, CA 92843
          p robert@nssled.com
          p +1 201 969 5019 (Robert)
          p +1 323 616 7060 (Lyna)
        .contact__img
          img(src="/images/photos/contact_warehouse.jpg", alt="warehouse")
      .contact__cn
        .contact__title
          p.contact__addr 4/F, Block D, Dejiarun industrial park, 128 indstrial zone
          p.contact__addr Tangxia, Dongguan, Guangdong Province, P.R.China
          p order@newsunshine.net
          p +86 769 8800 4885
          p +86 138 2658 8764
        .contact__img
          img(src="/images/photos/contact_factory.jpg", alt="warehouse")
    //- .inner
      //- h2= TRANSLATION.CONTACT_MSG
      .contact__title
        h2 Welcome to visit our factory and warehouse or&nbsp;
          a.query__btn= TRANSLATION.SEND_EMAIL
      .contact__region
        - function addrTransform(addr) {
        -   const addrArray = addr.split(', ')
        -   addrArray.pop()
        -   return addrArray.join(', ')
        - }
        .contact__region__us
          h2 USA
          .contact__region__cities
            .contact__region__city
              h2= addrTransform(TRANSLATION.CONTACT_INFO_ADDR_US)
              .contact__region__person
                h3 Robert
                p
                  a(href=`mailto:${TRANSLATION.CONTACT_INFO_EMAIL_ROBERT}`)= TRANSLATION.CONTACT_INFO_EMAIL_ROBERT
                p
                  span Tel.&nbsp;
                  a(href=`tel:${TRANSLATION.CONTACT_INFO_TEL_ROBERT}`)= TRANSLATION.CONTACT_INFO_TEL_ROBERT
                p
                  span Skype.&nbsp;
                  a(href=`callto:${TRANSLATION.CONTACT_INFO_TEL_ROBERT}`) newsunshine86
            .contact__image
              img(src="/images/photos/contact_warehouse.jpg", alt="warehouse")
        .contact__region__cn
          h2 CHINA
          .contact__region__cities
            .contact__region__city
              h2= addrTransform(TRANSLATION.CONTACT_INFO_ADDR_CN)
              .contact__region__person
                h3 Lyna
                p
                  a(href=`mailto:lyna@nssled.com`)= TRANSLATION.CONTACT_INFO_EMAIL_CN
                p
                  span Tel.&nbsp;
                  a(href=`tel:${TRANSLATION.CONTACT_INFO_TEL_LYNA}`)= TRANSLATION.CONTACT_INFO_TEL_LYNA
                p
                  span Skype.&nbsp;
                  a(href=`callto:${TRANSLATION.CONTACT_INFO_TEL_LYNA}`) newsunshine06
            .contact__image
              img(src="/images/photos/contact_factory.jpg", alt="factory")

    .about__video
      h2 Our new waterproof garden light
      .about__video-wrapper
        iframe(width="560" height="315" src="https://www.youtube.com/embed/Els_pJrIDsw", frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
