<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
  body
    block header
      .add
        a(href='/addProduct') Add Product
        a(href='/addProject') Add Project
      .logo
      header
        button(aria-expanded="false" aria-controls="menu-list")
          span.open
            i.fa.fa-align-justify
          span.close
            i.fa.fa-times
        nav.nav
          .nav__section.nav__section--pages
            each item in h.menu
              li.nav__item
                if item.dropdown
                  a.nav__link(href=item.slug class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                    span.nav__title #{item.title}
                    span.down
                      i.fa.fa-angle-down
                  - const list = item.dropdown
                  ul.nav__dropdown
                    each item in list
                      li.nav__dropdown__item
                        a.nav__dropdown__link(href=item.slug)
                          span #{item.title}
                else
                  a.nav__link(href=item.slug class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                    span.nav__title #{item.title}
          //- .nav__section.nav__section--search
          //- .nav__section.nav__section--user

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    block content
      .content

    block scripts
      script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
      script(src="/dist/App.bundle.js")
