include mixins/_queryForm

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="/dist/photoswipe/photoswipe.css")
    link(rel="stylesheet", href="/dist/photoswipe/default-skin/default-skin.css")
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")

  body.rb--hide
    block header
      #skype
        div(id="SkypeButton_Call_live:ylyznl_1")
      .rb
        //- button#weixin.rb__btn
        //-   i.fab.fa-weixin
        //- button.rb__btn.query__btn
        //-   i.fa.fa-envelope
        button#toTop.rb__btn
          i.fa.fa-angle-up
      //- .add
        if user
          a(href='/add-product') Add Product
          a(href='/add-project') Add Project
          a(href='/account') Account
          a(href="/logout") Log Out
        else
          a(href='/register') Register
          a(href='/login') Log In
      .header__wrapper#top
        .language__wrapper
          .language
            a(href=`${currentPath}?clang=en` class=(lang === 'en' ? 'language--active' : '')) EN
            span |
            a(href=`${currentPath}?clang=es` class=(lang === 'es' ? 'language--active' : '')) ES
        header
          .logo
            img(src="/images/photos/logo-about-us.png")
          .logo-s
            img(src="/images/photos/1-150H51K613642.png")
          button(aria-expanded="false" aria-controls="menu-list")
            span.open
              i.fa.fa-align-justify
            span.close
              i.fa.fa-times
          nav.nav
            .nav__section.nav__section--pages
              each ITEM in TRANSLATION.MENU
                li.nav__item
                  if ITEM.DROPDOWN
                    a.nav__link(href=ITEM.SLUG class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
                      span.nav__title #{ITEM.TITLE}
                      span.down
                        i.fa.fa-angle-down
                    span.down--mobile(aria-expanded="false" aria-controls="dropdown-list")
                      i.fa.fa-angle-up
                      i.fa.fa-angle-down
                    - const LIST = ITEM.DROPDOWN
                    ul.nav__dropdown
                      each ITEM in LIST
                        li.nav__dropdown__item
                          a.nav__dropdown__link(href=ITEM.SLUG)
                            span #{ITEM.TITLE}
                  else
                    a.nav__link(href=ITEM.SLUG class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
                      span.nav__title #{ITEM.TITLE}
            //- .nav__section.nav__section--search
            //- .nav__section.nav__section--user

    block messages
      if locals.flashes
        .flash-wrapper
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content
      .content

    block footer
      footer
        .socials

        .contact
          .contact__about
            img(src="/images/photos/logo-about-us.png")
            p.contact__about__description= TRANSLATION.CONTACT_DESCRIPTION
            a(href="/about-us").contact__about__more= TRANSLATION.READ_MORE
              span
                i.fa.fa-long-arrow-alt-right
          .contact__info
            h2= TRANSLATION.CONTACT_INFO
            p= TRANSLATION.CONTACT_INFO_ADDR_US
            a(href=`mailto:${TRANSLATION.CONTACT_INFO_EMAIL_ROBERT}`)= TRANSLATION.CONTACT_INFO_EMAIL_ROBERT
            p
              span Tel.&nbsp;
              = TRANSLATION.CONTACT_INFO_TEL_ROBERT
            p
              span Tel.&nbsp;
              = TRANSLATION.CONTACT_INFO_TEL_LYNA
            .divide
            p= TRANSLATION.CONTACT_INFO_ADDR_CN
            a(href=`mailto:${TRANSLATION.CONTACT_INFO_EMAIL_CN}`)= TRANSLATION.CONTACT_INFO_EMAIL_CN
            p
              span Tel.&nbsp;
              = TRANSLATION.CONTACT_INFO_TEL_CN1
            p
              span Tel.&nbsp;
              = TRANSLATION.CONTACT_INFO_TEL_CN2
          .contact__email
            h2= TRANSLATION.CONTACT_US
            .query__btn= TRANSLATION.SEND_EMAIL
            a(href="/contact").contact__about__more= TRANSLATION.READ_MORE
              span
                i.fa.fa-long-arrow-alt-right
        .copyright
          p &copy; New Sunshine 2018 |
            span  Legacy

    block query
      .query
        .query-overlay
        .query-wrapper
          button.query__remove
            i.fas.fa-times
          +queryForm()

    block scripts
      script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="https://www.google.com/recaptcha/api.js")
      script(src="https://secure.skypeassets.com/i/scom/js/skype-uri.js")
      script(src="/dist/App.bundle.js")
