include mixins/_query

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="keywords" content=`${n.keywords || "led retrofit, led corn bulb, high lumen led, corn bulb, led corn lamp, high wattage led, corn light bulb, led corn lights"}`)
    meta(name="description" content=`${n.description || "New Sunshine Lighting Inc. base in Los Angeles of USA. Our factory is base in Shenzhen & Dongguan of China. Our products cover LED corn bulbs, E26/27 & E39/40 base retrofit kits, smart LED lighting, commercial lighting, street lamp."}`)
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="/dist/photoswipe/photoswipe.css")
    link(rel="stylesheet", href="/dist/photoswipe/default-skin/default-skin.css")
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/NS.png")
    script(src="/dist/chatra/chatra.js")

  body.rb--hide
    block header
      //- #skype
        div(id="SkypeButton_Call_live:newsunshine06_1")
      .rb
        //- button#weixin.rb__btn
        //-   i.fab.fa-weixin
        //- button.rb__btn.query__btn
        //-   i.fa.fa-envelope
        button#toTop.rb__btn
          i.fa.fa-angle-up
      .user__admin
        if user && user.level === 1
          a(href="/add-product") Add Product
          a(href="/add-project") Add Project
          a(href="/add-certificate") Add Certificate
          a(href="/add-news") Add News
      header
        .top
          .top__left
            .top__logo
              a(href="/")
                img(src="/images/photos/NS.png")
            .top__brand
              h2 New Sunshine Lighting
              p The first manufacturer of LED corn bulbs
          nav.nav
            .nav__section.nav__section--pages
              each ITEM in TRANSLATION.MENU
                li.nav__item
                  if ITEM.DROPDOWN
                    //- a.nav__link(href=ITEM.SLUG class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
                    a.nav__link(class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
                      span.nav__title #{ITEM.TITLE}
                      span.down
                        i.fa.fa-angle-down
                    span.down--mobile(aria-expanded="false" aria-controls="dropdown-list")
                      i.fa.fa-angle-up
                      i.fa.fa-angle-down
                    - const LIST = ITEM.DROPDOWN
                    ul.nav__dropdown
                      each ITEM in LIST
                        li.nav__dropdown__item
                          a.nav__dropdown__link(href=ITEM.SLUG)
                            span #{ITEM.TITLE}
                  else
                    a.nav__link(href=ITEM.SLUG class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
                      span.nav__title #{ITEM.TITLE}
            //- .nav__section.nav__section--search
            //- .nav__section.nav__section--user
          .top__right
            .top__tel
              span
                i.fa.fa-phone.fa-flip-horizontal
              a(href="") +1.201.969.5019
            .user
              if user
                a(href="/account") Account
                a(href="/logout") Log Out
              else
                a(href='/register') Register
                a(href='/login') Log In
            .language
              a(href=`${currentPath}?clang=en` class=(lang === 'en' ? 'language--active' : '')) EN
              span |
              a(href=`${currentPath}?clang=es` class=(lang === 'es' ? 'language--active' : '')) ES
        //- .header--logo
            img(src="/images/photos/NS.png")
        button(aria-expanded="false" aria-controls="menu-list")
          span.open
            i.fa.fa-align-justify
          span.close
            i.fa.fa-times
        //- nav.nav
        //-   //- .nav__section.nav__section--logo
        //-     img(src="/images/photos/new-sunshine.png")
        //-   .nav__section.nav__section--pages
        //-     each ITEM in TRANSLATION.MENU
        //-       li.nav__item
        //-         if ITEM.DROPDOWN
        //-           //- a.nav__link(href=ITEM.SLUG class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
        //-           a.nav__link(class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
        //-             span.nav__title #{ITEM.TITLE}
        //-             span.down
        //-               i.fa.fa-angle-down
        //-           span.down--mobile(aria-expanded="false" aria-controls="dropdown-list")
        //-             i.fa.fa-angle-up
        //-             i.fa.fa-angle-down
        //-           - const LIST = ITEM.DROPDOWN
        //-           ul.nav__dropdown
        //-             each ITEM in LIST
        //-               li.nav__dropdown__item
        //-                 a.nav__dropdown__link(href=ITEM.SLUG)
        //-                   span #{ITEM.TITLE}
        //-         else
        //-           a.nav__link(href=ITEM.SLUG class=(currentPath.startsWith(ITEM.SLUG) ? 'nav__link--active' : ''))
        //-             span.nav__title #{ITEM.TITLE}
        //-   //- .nav__section.nav__section--search
        //-   //- .nav__section.nav__section--user

    block messages
      if locals.flashes
        .flash-wrapper
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content
      .content

    block footer
      footer
        .socials
          .socials__links
            .socials__link
              a(href="https://twitter.com/Newsunshine01" target="_blank")
                i.fab.fa-twitter
            .socials__link
              a(href="https://www.facebook.com/nssllc" target="_blank")
                i.fab.fa-facebook
            .socials__link
              i.fab.fa-instagram
            .socials__link
              i.fab.fa-linkedin-in
            .socials__link
              a(href="https://www.youtube.com/channel/UC1bOpWC5kdqNrd0kpdgIT9w" target="_blank")
                i.fab.fa-youtube
          .socials__twitter
          .socials__fb
        .contact__footer
          //- .contact__about
            img(src="/images/photos/new-sunshine.png")
            p.contact__about__description= TRANSLATION.CONTACT_DESCRIPTION
            a(href="/about-us").contact__about__more= TRANSLATION.READ_MORE
              span
                i.fa.fa-long-arrow-alt-right
          .contact__footer__info
            //- h2= TRANSLATION.CONTACT_INFO
            p= TRANSLATION.CONTACT_INFO_ADDR_US
            p
              a(href=`mailto:${TRANSLATION.CONTACT_INFO_EMAIL_ROBERT}`)= TRANSLATION.CONTACT_INFO_EMAIL_ROBERT
            p
              span Tel.&nbsp;
              a(href=`tel:${TRANSLATION.CONTACT_INFO_TEL_ROBERT}`)= `${TRANSLATION.CONTACT_INFO_TEL_ROBERT} (Robert)`
            p
              span Tel.&nbsp;
              a(href=`tel:${TRANSLATION.CONTACT_INFO_TEL_LYNA}`)= `${TRANSLATION.CONTACT_INFO_TEL_LYNA} (Lyna)`
            .divide
            p= TRANSLATION.CONTACT_INFO_ADDR_CN
            p
              a(href=`mailto:${TRANSLATION.CONTACT_INFO_EMAIL_CN}`)= TRANSLATION.CONTACT_INFO_EMAIL_CN
            p
              span Tel.&nbsp;
              a(href=`tel:${TRANSLATION.CONTACT_INFO_TEL_CN1}`)= TRANSLATION.CONTACT_INFO_TEL_CN1
            p
              span Tel.&nbsp;
              a(href=`tel:${TRANSLATION.CONTACT_INFO_TEL_CN2}`)= TRANSLATION.CONTACT_INFO_TEL_CN2
          .contact__footer__email
            //- h2= TRANSLATION.CONTACT_US
            .query__btn= TRANSLATION.SEND_EMAIL
            a(href="/contact").contact__footer__more= TRANSLATION.READ_MORE
              span
                i.fa.fa-long-arrow-alt-right
        .copyright
          p &copy; New Sunshine 2018 |
            span  Legacy

    block query
      .query
        +query()

    block scripts
      script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="https://www.google.com/recaptcha/api.js")
      //- script(src="https://secure.skypeassets.com/i/scom/js/skype-uri.js")
      script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b84fd39347b2a6b")
      script(src="/dist/App.bundle.js")
