extends layout

include mixins/_pswp

block content
  .content
    .products__banner
    //- pre= h.dump(product)
    +pswp()
    .single
      .single__descriptions
        h2= title
        ol
          each point in product.bullet_points
            if point
              li= point
        .single__features
          //- h2 Features
          ul
            li #{product.power.join(', ')} available
            li= product.voltage
            li
              - const ct = product.color_temperatures || []
              span Color Temperature:&nbsp;
              | #{ct.join(' ')}
            li IP #{product.ip_rate}
            li
              span CRI&nbsp;
              | #{product.cri}
            li
              span Lifespan:&nbsp;
              | #{product.lifespan}
            li #{product.certificates.join(', ')} certificated
        .single__applications
          h2 Applications
          p= product.application
        .single__documents
          h2 Documents
          .single__brochure
            //- a(href=`uploads/pdf/${product.brochure}`) Peek Brochure
            a(href=`/download/${product.brochure}`) Download Brochure
      .single-gallery(itemscope itemtype="http://schema.org/ImageGallery")
        - let i = 0
          each image in product.photos
            - const { original, thumbnail, dimension } = image
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href=`/uploads/products/${original}` itemprop="contentUrl" data-size=`${dimension.w}x${dimension.h}`)
                  img(src=`/uploads/products/${thumbnail || 'default_300x300.jpg'}` itemprop="thumbnail" alt="Image description")
      .single__table
        h2 Specifications
        .single__table__details
          table
            tbody
              tr
                td
                  p Model
                td
                  p Power
                td
                  p Base
                td
                  p Lumens
                td
                  p Dim.(E26)
              - let j = 0
                while j < product.model_no.length
                  tr
                    td
                      p= product.model_no[j]
                    td
                      p= product.power[j]
                    td
                      p= product.base_type[j]
                    td
                      p= product.lumen[j]
                    td
                      p= product.dim[j]
                    - j++
        .single__table__ctn
          table
            tbody
              tr
                td
                  p CTN size
                td
                  p CTN quantity
                td
                  p CTN weight
              - let m = 0
              while m < product.model_no.length
                tr
                  td
                    p= product.ctn_size[m]
                  td
                    p= product.ctn_quantity[m]
                  td
                    p= product.ctn_weight[m]
                  - m++
