extends layout

include mixins/_pswp

block content
  .content
    .products__banner
      .banner
    //- pre= h.dump(product)
    +pswp()
    .single
      .single__descriptions
        h2= title
        ol
          each point in product.bullet_points
            if point
              li= point
        .single__features
          //- h2 Features
          ul
            li #{product.power.join(', ')} available
            li= product.voltage
            li
              - const ct = product.color_temperatures || []
              span Color Temperature:&nbsp;
              | #{ct.join(' ')}
            li IP #{product.ip_rate}
            li
              span CRI&nbsp;
              | #{product.cri}
            li
              span Lifespan:&nbsp;
              | #{product.lifespan}
            li #{product.certificates.join(', ')} certificated
        .single__applications
          h2 Applications
          p= product.application
        .single__documents
          h2 Documents
          .single__brochure
            a(href=`/uploads/pdf/${product.brochure}` target="_blank") Download Brochure
            //- a(href=`/download/${product.brochure}`) Download Brochure
      .single-gallery__container
        .single-gallery(itemscope itemtype="http://schema.org/ImageGallery")
          - let i = 0
            each image in product.photos
              - const { original, thumbnail, dimension } = image
                figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                  a(href=`/uploads/products/${original}` itemprop="contentUrl" data-size=`${dimension.w}x${dimension.h}`)
                    img(src=`/uploads/products/${thumbnail || 'default_300x300.jpg'}` itemprop="thumbnail" alt="Image description")
      .single__table
        h2 Specifications
        .single__table__details
          table
            tbody
              tr
                td
                  p Model
                td
                  p Power
                td
                  p Base
                td
                  p Lumens
                td
                  p Dim.(E26)
              - let j = 0
                while j < product.model_no.length
                  tr
                    td
                      p= product.model_no[j]
                    td
                      p #{product.power[j]}W
                    td
                      p= product.base_type[j]
                    td
                      p #{product.lumen[j]}LM
                    td
                      p #{product.dim_width[j]}x#{product.dim_height[j]}x#{product.dim_depth[j]}in
                      p #{parseFloat((product.dim_width[j] * 2.54).toFixed(2))}x#{parseFloat((product.dim_height[j] * 2.54).toFixed(2))}x#{parseFloat((product.dim_depth[j] * 2.54).toFixed(2))}cm
                  - j++
        .single__table__ctn
          table
            tbody
              tr
                td
                  p CTN size
                td
                  p CTN quantity
                td
                  p CTN weight
              - let m = 0
              while m < product.model_no.length
                tr
                  td
                    p #{product.ctn_size_width[m]}x#{product.ctn_size_height[m]}x#{product.ctn_size_depth[m]}in
                    p #{parseFloat((product.ctn_size_width[m] * 2.54).toFixed(2))}x#{parseFloat((product.ctn_size_height[m] * 2.54).toFixed(2))}x#{parseFloat((product.ctn_size_depth[m] * 2.54).toFixed(2))}cm
                  td
                    p #{product.ctn_quantity[m]}pcs
                  td
                    p #{product.ctn_weight[m]}lbs
                    p #{parseFloat((product.ctn_weight[m] * 0.453592).toFixed(2))}kg
                - m++

      .single__report
        h2 Test Report
        .single__report__details
          table
            tbody
              tr
                td
                  p Model
                td
                  p IES
                td
                  p Integrating Sphere Test
              - let n = 0
              while n < product.model_no.length
                tr
                  td
                    p= product.model_no[n]
                  td
                    p
                      if product.ies[n]
                        a(href=`/uploads/pdf/${product.ies[n]}` target="_blank") Download
                      else
                        | Null
                  td
                    p
                      if product.ist[n]
                        a(href=`/uploads/pdf/${product.ist[n]}` target="_blank") Download
                      else
                        | Null
                - n++
                //- tr
                  td
                    p 123
        //- each ies in product.ies
        //-   .single__ies
        //-     a(href=`/uploads/pdf/${ies}` target="_blank") Download IES
        //- each ist in product.ist
        //-   p= ist

    .about__video
      h2 Our new smart LED bulb
      .about__video-wrapper
        iframe(width="560" height="315" src="https://www.youtube.com/embed/2S1fRty1vX8", frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
