extends layout

include mixins/_pswp
include mixins/_projectCard

block content
  .content
    .projects__banner
    .inner-2
      //- pre= h.dump(type)
      h2 #{type || 'Gallery'}
      //- pre= h.dump(currentPath)
      .project-types
        a.project__link(href=`/gallery` class=(currentPath === '/gallery' ? 'project__link--active' : ''))
            span.project-type__text All
            span.project-type__count= all
        each t in types
          a.project__link(href=`/gallery/${t._id}` class=(t._id === type ? 'project__link--active' : ''))
            span.project-type__text= t._id
            span.project-type__count= t.count
      //- pre= h.dump(projects)
      +pswp()
      .projects
        each project in projects
          +projectCard(project)
