mixin productForm(product = {})
  form(action=`/addProduct/${product._id || ''}` method="POST")
    label(for="type") Type:
    - const choices = ['LED Corn Light', 'LED Garden Light', 'LED Street Light']
    - const types = product.type || []
    .types
      each choice in choices
        .type
          input(type="checkbox" id=choice value=choice name="type" checked=(types.includes(choice)))
          label(for=choice) #{choice}
    label(for="name") Name:
    input#name(type="text" name="name" value=product.name)
    label(for="model") Model Number:
    input#model(type="text" name="model" value=product.model)
    label(for="power") Power:
    input#power(type="text" name="power" value=product.power)
    label(for="base") Base Type:
    input#base(type="text" name="base" value=product.base)
    input.button(type="submit" value="Save")
