mixin projectForm(project = {})
  form.add__form(action=`/add-project/${project._id || ''}` method="POST" enctype="multipart/form-data")
    label(for="type")
      | Type&nbsp;
      span (Required)
    - const choices = ['Indoor', 'Outdoor']
    - const type = project.type || ''
    .types
      each choice in choices
        .type
          input(type="radio" id=choice value=choice name="type" checked=(type.includes(choice)) required)
          label(for=choice) #{choice}
    label(for="name")
      | Name&nbsp;
      span (Required)
    input(type="text" id="name" name="name" value=project.name required)
    - const index = [1, 2, 3, 4, 5]
    - const photos = project.photos || []
    - const descriptions = project.description || []
      each i in index
        label(for=`photo${i}`)
          | Photo#{i}&nbsp;
          if i <= 1
            span (Required)
        input(type="file" id=`photo${i}` name="photos" accept="iamge/gif, image/png, image/jpeg")
        if photos[i - 1]
          img(src=`/uploads/projects/${photos[i - 1].thumbnail}`, alt="")
        label(for=`description${i}`)
          | Description#{i}&nbsp;
          if i <= 1
            span (Recommended)
        input(type="text" id=`description${i}` name="descriptions" value=descriptions[i - 1])
    input.button(type="submit" value="Save")
