mixin productForm(product = {})
  form.add__form(action=`/add-product/${product._id || ''}` method="POST" enctype="multipart/form-data")
    label(for="type")
      | Type&nbsp;
      span (Required)
    - const choices = ['LED Corn Light', 'LED Garden Light', 'LED Street Light', 'Smart LED']
    - const type = product.type || ''
    .types
      each choice in choices
        .type
          input(type="radio" id=choice value=choice name="type" checked=(type.includes(choice)) required)
          label(for=choice) #{choice}
    //- Product details
    h3 Product Details
    label(for="name")
      | Name&nbsp;
      span (Required)
    input#name(type="text" name="name" value=product.name required)
    label(for="voltage") Voltage
    input#voltage(type="text" name="voltage" value=product.voltage)
    label(for="ip_rate") IP Rate
    input#ip_rate(type="text" name="ip_rate" value=product.ip_rate)
    label(for="cri") CRI
    input#cri(type="text" name="cri" value=product.cri)
    label(for="lifespan") Lifespan
    input#lifespan(type="text" name="lifespan" value=product.lifespan)
    label(for="application") Application
    input#application(type="text" name="application" value=product.application)
    label(for="color_temperature") Color Temperature
    - const colorTemperatureChoices = ['3000K', '4000K', '5000K', '6000K']
    - const colorTemperatures = product.color_temperatures || []
    .types
      each choice in colorTemperatureChoices
        .type
          input(type="checkbox" id=choice value=choice name="color_temperatures" checked=(colorTemperatures.includes(choice)))
          label(for=choice) #{choice}
    label(for="certificate") Certificate
    - const certificateChoices = ['UL', 'DLC', 'TUV', 'ETL', 'CE', 'RoHS']
    - const certificates = product.certificates || []
    .types
      each choice in certificateChoices
        .type
          input(type="checkbox" id=choice value=choice name="certificates" checked=(certificates.includes(choice)))
          label(for=choice) #{choice}
    //- Specifications
    h3 Specifications
    - let l = 0
    - const model_no = product.model_no || []
    - const power = product.power || []
    - const base_type = product.base_type || []
    - const lumen = product.lumen || []
    - const dim = product.dim || []
    - const ctn_size = product.ctn_size || []
    - const ctn_quantity = product.ctn_quantity || []
    - const ctn_weight = product.ctn_weight || []
    - const length = model_no.length
      while l < length
        .form-specification
          button.form__remove(onClick="this.parentElement.remove()") &times;
          label(for="model_no") Model No.
          input#model_no(type="text" name="model_no" value=model_no[l])
          label(for="power") Power
          input#power(type="text" name="power" value=power[l])
          label(for="base_type") Base Type
          input#base_type(type="text" name="base_type" value=base_type[l])
          label(for="lumen") Lumens
          input#lumen(type="text" name="lumen" value=lumen[l])
          label(for="dim") Dimensions
          input#dim(type="text" name="dim" value=dim[l])
          label(for="ctn_size") CTN Size
          input#ctn_size(type="text" name="ctn_size" value=ctn_size[l])
          label(for="ctn_quantity") CTN Quantity
          input#ctn_quantity(type="text" name="ctn_quantity" value=ctn_quantity[l])
          label(for="ctn_weight") CTN Weight
          input#ctn_weight(type="text" name="ctn_weight" value=ctn_weight[l])
          - l++
    input#add-specification.button(type="button" value="Add An Item")
    //- Bullet points
    h3 Bullet Points
    - let b = 0
    - const bulletPoints = product.bullet_points || []
      while b < bulletPoints.length
        .form-bullet-point
          button.form__remove(onClick="this.parentElement.remove()") &times;
          label(for="bullet_point") Description
          input(type="text" name="bullet_points" value=bulletPoints[b])
          - b++
    input#add-bullet-point.button(type="button" value="Add An Item")
    //- Photos
    h3 Photos
    - let p = 0
    - const photos = product.photos || []
    - const descriptions = product.descriptions || []
      while p < photos.length
        .form-photo
          button.form__remove(onClick="this.parentElement.remove()") &times;
          label(for="photo") Photo
          input(type="file" name="photos" accept="image/gif, image/png, image/jpeg")
          img(src=`/uploads/products/${photos[p].thumbnail}`, alt=`${descriptions[p]}`)
          label(for=description) Description
          input(type="text" name="descriptions" value=descriptions[p])
          - p++
    input#add-photo.button(type="button" value="Add An Item")
    //- Brochure
    h3 Brochure
    label(for="brochure")
      | Brochure&nbsp;
      span (Recommended)
    input#brochure(type="file" name="brochure" accept=".pdf")
    p= product.brochure
    input.button(type="submit" value="Save")
