mixin productCard(product = {})
  .product
    .product__text
      .product__text__heading
        h2= product.name
        .product__edit
          a(href=`/products/${product._id}/edit`)
            != h.icon('pencil')
      .product__text__details
        p= product.type
        p= product.model
        p= product.power
        p= product.base
    .product__image
      image
