mixin productCard(product = {})
  .product
    - const name = product.name
    - const slug = product.slug
    - const firstPhoto = product.photos[0] || ''
    - const photo = firstPhoto.thumbnail
    - const description = product.descriptions[0] || ''
      a(href=`/product/${slug}`)
        .product__img(style=`background-image: url(/uploads/products/${photo})`)
        //- img(src=`/uploads/products/${photo}`, alt=`${description}`)
    article
      if user && product.author.equals(user._id)
        .product__edit
          a(href=`/products/${product._id}/edit`)
            != h.icon('pencil')
      h2= product.name
      .product__detail
        li #{product.power.join(' | ')}W
        //- li= product.color_temperatures.join(' | ')
        //- if product.brochure
          .product__text__button
            //- a(href=`uploads/pdf/${product.brochure}`) Peek Brochure
            a(href=`/download/${product.brochure}`) Download Brochure
      a(href=`/product/${slug}`) More
