mixin productForm(product = {})
  form.add__form(action=`/add-product/${product._id || ''}` method="POST" enctype="multipart/form-data")
    label(for="type")
      | Type&nbsp;
      span (Required)
    - const choices = ['LED Corn Light', 'LED Garden Light', 'LED Street Light']
    - const type = product.type || ''
    .types
      each choice in choices
        .type
          input(type="radio" id=choice value=choice name="type" checked=(type.includes(choice)) required)
          label(for=choice) #{choice}
    //- Product details
    h3 Product Details
    label(for="name")
      | Name&nbsp;
      span (Required)
    input#name(type="text" name="name" value=product.name required)
    label(for="voltage") Voltage
    input#voltage(type="text" name="voltage" value=product.voltage)
    label(for="ip_rate") IP Rate
    input#ip_rate(type="text" name="ip_rate" value=product.ip_rate)
    label(for="cri") CRI
    input#cri(type="text" name="cri" value=product.cri)
    label(for="lifespan") Lifespan
    input#lifespan(type="text" name="lifespan" value=product.lifespan)
    label(for="application") Application
    input#application(type="text" name="application" value=product.application)
    label(for="color_temperature") Color Temperature
    - const colorTemperatureChoices = ['3000K', '4000K', '5000K', '6000K']
    - const colorTemperatures = product.color_temperatures || []
    .types
      each choice in colorTemperatureChoices
        .type
          input(type="checkbox" id=choice value=choice name="color_temperatures" checked=(colorTemperatures.includes(choice)))
          label(for=choice) #{choice}
    //- Specifications
    h3 Specifications
    .form-specification
      label(for="model_no") Model No.
      input#model_no(type="text" name="model_no" value=product.model_no)
      label(for="power") Power
      input#power(type="text" name="power" value=product.power)
      label(for="base_type") Base Type
      input#base_type(type="text" name="base_type" value=product.base_type)
      label(for="lumen") Lumens
      input#lumen(type="text" name="lumen" value=product.lumen)
      label(for="dim") Dimensions
      input#dim(type="text" name="dim" value=product.dim)
      label(for="ctn_size") CTN Size
      input#ctn_size(type="text" name="ctn_size" value=product.ctn_size)
      label(for="ctn_quantity") CTN Quantity
      input#ctn_quantity(type="text" name="ctn_quantity" value=product.ctn_quantity)
      label(for="ctn_weight") CTN Weight
      input#ctn_weight(type="text" name="ctn_weight" value=product.ctn_weight)
    input#form-add-item(type="button" value="Add One Item")
    //- Bullet points
    h3 Bullet Points
    - const num = [1, 2, 3, 4, 5]
    - const bulletPoints = product.bullet_points || []
      each n in num
        label(for=`bullet_point${n}`) Description#{n}
        input(type="text" id=`bullet_point${n}` name="bullet_points" value=bulletPoints[n - 1])
    //- Brochure
    h3 Brochure
    label(for="brochure")
      | Brochure&nbsp;
      span (Recommended)
    input#brochure(type="file" name="brochure" accept=".pdf")
    p= product.brochure
    //- Photos
    h3 Photos
    - const index = [1, 2, 3, 4, 5, 6, 7]
    - const photos = product.photos || []
    - const descriptions = product.descriptions || []
      each i in index
        label(for=`photo${i}`)
          | Photo #{i}&nbsp;
          if i <= 3
            span (Required)
        input(type="file" id=`photo${i}` name="photos" accept="image/gif, image/png, image/jpeg")
          //-  required=(i <= 3 ? true : false)
        if photos[i - 1]
          img(src=`/uploads/products/${photos[i - 1].thumbnail}`, alt="")
        label(for=`description${i}`)
          | Description #{i}&nbsp;
          if i <= 3
            span (Recommended)
        input(type="text" id=`description${i}` name="descriptions" value=descriptions[i -1])
    input.button(type="submit" value="Save")
