mixin productCard(product = {})
  .product
    .product__img
      - const slug = product.slug
      - const photo = product.photos[0].thumbnail
      - const description = product.descriptions[0]
      a(href=`/product/${slug}`)
        img(src=`/uploads/products/${photo}`, alt=`${description}`)
    article
      .product__title
        h2= product.name
      if user && product.author.equals(user._id)
        .product__edit
          a(href=`/products/${product._id}/edit`)
            != h.icon('pencil')
      .product__detail
        li= product.power
        li= product.base_types.join(' | ')
        li= product.color_temperatures.join(' | ')
        //- if product.brochure
          .product__text__button
            //- a(href=`uploads/pdf/${product.brochure}`) Peek Brochure
            a(href=`/download/${product.brochure}`) Download Brochure
      a(href=`/product/${slug}`) More
