mixin productForm(product = {})
  form.add__form(action=`/add-product/${product._id || ''}` method="POST" enctype="multipart/form-data")
    label(for="type")
      | Type&nbsp;
      span (Required)
    - const choices = ['LED Corn Light', 'LED Garden Light', 'LED Street Light']
    - const type = product.type || ''
    .types
      each choice in choices
        .type
          input(type="radio" id=choice value=choice name="type" checked=(type.includes(choice)) required)
          label(for=choice) #{choice}
    h3 Product Details
    label(for="name")
      | Name&nbsp;
      span (Required)
    input#name(type="text" name="name" value=product.name required)
    label(for="model_no") Model No.
    input#model_no(type="text" name="model_no" value=product.model_no)
    label(for="voltage") Voltage
    input#voltage(type="text" name="voltage" value=product.voltage)
    label(for="base_type") Base Type
    input#base_type(type="text" name="base_type" value=product.base_type)
    label(for="lumen") Lumens
    input#lumen(type="text" name="lumen" value=product.lumen)
    label(for="dimension") Dimensions
    input#dimension(type="text" name="dimension" value=product.dimension)
    label(for="ip_rating")  IP (Ingress Protection) Rating
    input#ip_rating(type="text" name="ip_rating" value=product.ip_rating)
    label(for="cri") CRI (Color Rendering Index)
    input#cri(type="text" name="cri" value=product.cri)
    label(for="application") Applications
    input#application(type="text" name="application" value=product.application)
    h3 Brochure
    label(for="brochure")
      | Brochure&nbsp;
      span (Recommended)
    input#brochure(type="file" name="brochure" accept=".pdf")
    p= product.brochure
    h3 Photos
    - const index = [1, 2, 3, 4, 5, 6, 7]
    - const photos = product.photos || []
    - const descriptions = product.descriptions || []
      each i in index
        label(for=`photo${i}`)
          | Photo #{i}&nbsp;
          if i <= 3
            span (Required)
        input(type="file" id=`photo${i}` name="photos" accept="image/gif, image/png, image/jpeg")
          //-  required=(i <= 3 ? true : false)
        if photos[i - 1]
          img(src=`/uploads/photos/${photos[i - 1].thumbnail}`, alt="")
        label(for=`description${i}`)
          | Description #{i}&nbsp;
          if i <= 3
            span (Recommended)
        input(type="text" id=`description${i}` name="descriptions" value=descriptions[i -1])
    input.button(type="submit" value="Save")
